@using LivingMessiah.Enums

<div class="@MediaQuery.Xs.DivClass"><Xs /></div>
<div class="@MediaQuery.Sm.DivClass"><SmMdLgXl MediaQuery="MediaQuery.Sm" /></div>
<div class="@MediaQuery.Md.DivClass"><SmMdLgXl MediaQuery="MediaQuery.Md" /></div>
<div class="@MediaQuery.Lg.DivClass"><SmMdLgXl MediaQuery="MediaQuery.Lg" /></div>
<div class="@MediaQuery.Xl.DivClass"><SmMdLgXl MediaQuery="MediaQuery.Xl" /></div>

@code {

}
