@using LivingMessiah.Features.Sukkot.Enums
@inject NavigationManager NavigationManager

<button @onclick="@(e => ButtonClick(Id))"
        class="@NavButton.Print!.Css" title="@NavButton.Print!.Title">
  <i class="@NavButton.Print.Icon"></i> @NavButton.Print.Label
</button>

@code {
  [Parameter, EditorRequired] public int Id { get; set; }

  void ButtonClick(int? id)
  {
    NavigationManager!.NavigateTo($"{NavButton.Print.Route}/{id}{NavButton.Print.RouteSuffix}");
  }
}
