@page "/sukkot"
@using LivingMessiah.Features.Sukkot.Constants
@using LivingMessiah.Services

@using LivingMessiah.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings
@inject ISecurityClaimsService SvcClaims

@* 
@inject AuthenticationStateProvider SukkotSettings
[Inject] public AuthenticationStateProvider? AuthenticationStateProvider { get; set; } 
*@


@using static LivingMessiah.Services.Auth0
@* 
<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotSettingsList />
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>
*@

<PageHeader PageEnum="Nav.Sukkot" />

<BreadCrumbNav Page1Active="" />

<div class="row">
	<div class="col-12">
		<p class="text-black-50 float-end"><small>SukIsOp @SukkotSettings.Value.SukkotIsOpen; IsRegCl @SukkotSettings.Value.IsRegistrationClosed</small></p>
	</div>
</div>


@* 
<AuthorizeView>
	<Authorized>
		<h3>Hello, @Salutation !</h3>
		<ul></ul>
	</Authorized>
	<NotAuthorized>
	</NotAuthorized>
</AuthorizeView>
 *@

@if (SukkotSettings.Value.SukkotIsOpen)
{
	<div class="d-print-none">
		<div class="d-flex justify-content-center">
			<img src="@Constants.Blobs.UrlEvents(Other.Banner)"
					 alt="@Constants.Blobs.Url(Other.BannerAlt)"
					 class="img-fluid rounded" />
		</div>
	</div>

	@if (SukkotSettings.Value.IsRegistrationClosed)
	{
		<div class="p-5 mb-4 bg-danger rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Registration is CLOSED</h1>
				<h3>
					<span class="text-warning">
						If you would like to join us for Sukkot, please	contact @RegistrationClosedEmail.Name at
						<a href="mailto:@RegistrationClosedEmail.Email?Subject=@RegistrationClosedEmail.Subject" target="_top">@RegistrationClosedEmail.Email</a> &nbsp;<i class="far fa-envelope"></i>.
					</span>
				</h3>
			</div>
		</div>
	}

	<Introduction />

	@if (!SukkotSettings.Value.IsRegistrationClosed)
	{
		<RegistrationInfo />
		<PaymentInfo />
	}
	<Documents />

	@if (!SukkotSettings.Value.IsRegistrationClosed)
	{
		<br />
		<p class="lead">
			Click the big green button to begin registration.
		</p>

		<div class="row">
			<div class="col-12">

				<a class="btn btn-success btn-lg"
					 href="@Enums.Pages.RegistrationSteps.Index">
					@Constants.Breadcrumbs.Start.Text
					<i class="@Constants.Breadcrumbs.Start.Icon"></i>
				</a>

			</div>
		</div>

	}

	<hr />

	<SukkotTShirt></SukkotTShirt>
}
else
{
	<div class="p-5 mb-4 bg-body-secondary rounded-3">
		<div class="container-fluid py-5">
			@* <h1 class="display-5 text-warning">Registration is Over</h1> *@
			<h1 class="display-5 text-success">Registration is Not Ready Yet, Try Later. Thanks</h1>
		</div>
	</div>

}



@code {

	protected string? Salutation { get; set; }

	//public ClaimsPrincipal? User { get; set; }

	/*
	Because of this unanswered question https://community.auth0.com/t/my-blazor-server-app-wont-display-the-user-name/85054
	I cant just do this ==> @context.User.Identity.Name
	*/
	protected override async Task OnInitializedAsync()
	{
		base.OnInitialized();
		Salutation = await SvcClaims!.GetUserName();
	}
}
