

<table class="table table-striped table-sm table-primary">

	<tr>
		<th>From <i>Aleph</i> to <i>Kaph</i></th>
		<th>From <i>Lamed</i> to <i>Meym</i></th>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("aleph-01.pdf")" target="_blank">Aleph (Lesson 1)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("lamed-12.pdf")" target="_blank">Lamed (Lesson 12)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("bet-02.pdf")" target="_blank">Bet (Lesson 2)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("meym-13.pdf")" target="_blank">Meym (Lesson 13)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("gimel-03.pdf")" target="_blank">Gimel (Lesson 3)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("nun-14.pdf")" target="_blank">Nun (Lesson 14)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("dalet-04.pdf")" target="_blank">Dalet (Lesson 4)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("samekh-15.pdf")" target="_blank">Samekh (Lesson 15)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("heh-05.pdf")" target="_blank">Heh (Lesson 5)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("ayin-16.pdf")" target="_blank">Ayin (Lesson 16)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("vav-06.pdf")" target="_blank">Vav (Lesson 6)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("peh-17.pdf")" target="_blank">Peh (Lesson 17)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td>
			<a href="@Constants.Blobs.HebrewHandoutsLink("zayin-07.pdf")" target="_blank">Zayin (Lesson 7)</a> <i class="fas fa-file-pdf"></i><br />
			<a href="@Constants.Blobs.HebrewHandoutsLink("zayin-coloring-page.pdf")" target="_blank">(coloring page)</a>
		</td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("tsadee-18.pdf")" target="_blank">Tsadee (Lesson 18)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td>
			<a href="@Constants.Blobs.HebrewHandoutsLink("khet-08.pdf")" target="_blank">Khet (Lesson 8)</a> <i class="fas fa-file-pdf"></i><br />
			<a href="@Constants.Blobs.HebrewHandoutsLink("chet-coloring-page.pdf")" target="_blank">(coloring page)</a>
		</td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("kof-19.pdf")" target="_blank">Kof (Lesson 19)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="#" target="_blank">Tet (Lesson 9 MISSING)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("reysh-20.pdf")" target="_blank">Resh (Lesson 20)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("yod-10.pdf")" target="_blank">Yod (Lesson 10)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("shin-21.pdf")" target="_blank">Shin (Lesson 21)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>

	<tr>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("caph-11.pdf")" target="_blank">Caph (Lesson 11)</a> <i class="fas fa-file-pdf"></i></td>
		<td><a href="@Constants.Blobs.HebrewHandoutsLink("tav-22.pdf")" target="_blank">Tav (Lesson 22)</a> <i class="fas fa-file-pdf"></i></td>
	</tr>
</table>

@code {

}
