@using LivingMessiah.Features.Sukkot.LandingPage
@using LivingMessiah.Features.Sukkot.RegistrationSteps
@using LivingMessiah.Features.Sukkot.Enums

@inject NavigationManager NavigationManager
@inject ILogger<Toggle>? Logger

<div class="d-flex justify-content-end mt-2">
	@if (Id is not null)
	{
		<button @onclick="@(e => ButtonPrintClick(Id))"
						class="btn btn-outline-primary btn-sm ms-1"
						title="Registration Print">
			<i class="fas fa-print"></i> Print
		</button>
	}
	else
	{
		<button class="btn btn-outline-primary btn-sm disabled ms-1">
			<i class="fas fa-print"></i> Print
		</button>
	}

	@if (Id is not null)
	{
		@if (IsCollapsed)
		{
			<button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
							class="btn btn-outline-primary btn-sm ms-1">
				Form Details <i class='fas fa-chevron-down'></i>
			</button>
		}
		else
		{
			<button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
							class="btn btn-outline-primary btn-sm ms-1">
				Hide <i class='fas fa-chevron-up'></i>
			</button>
		}

	}
	else
	{
		<button class="btn btn-outline-primary btn-sm disabled ms-1">
			Form Details <i class='fas fa-chevron-down'></i>
		</button>
	}

</div>

@if (!IsCollapsed)
{
	<div class="card mt-1 mb-3">
		<div class="card-body bg-light">
			@* This can only occurs if during Update/Edit *@
			<EntryForm Email="@Email" Id="@Id" CurrentStep=CurrentStep OnUpdateCompleted="ReturnUpdateCompleted" />
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public int? Id { get; set; }
	[Parameter, EditorRequired] public string? Email { get; set; }
	[Parameter, EditorRequired] public Step? CurrentStep { get; set; }

	public bool IsCollapsed { get; set; } = true;
	protected void ToggleButtonClick(bool isCollapsed)
	{
		IsCollapsed = !isCollapsed;
	}

	private void ReturnUpdateCompleted()
	{
		Logger!.LogDebug("{Method} {Command} {IsCollapsed}"
			, nameof(ReturnUpdateCompleted), "UpdateCompleted", IsCollapsed);
		if (!IsCollapsed ) { IsCollapsed = true; 	}
	}

	void ButtonPrintClick(int? id)
	{
		if (id is not null)
		{
			NavigationManager!.NavigateTo($"{Pages.Print.Index}/{id}/true");
		}
		// else should never happen
	}

}
