@using LivingMessiahAdmin.Features.Sukkot.Constants

<div class="card border border-3 border-dark-subtle mt-2">

  <div class="card-header text-center">
    <div class="fs-4">
      @(rec.FullName ?? "None")
      @if (!String.IsNullOrEmpty(rec.OtherNames))
      {
        <br />
        <small class="text-black-50 fs-6">@rec.OtherNames</small>
      }

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      @if (!String.IsNullOrEmpty(rec!.AdminNotes))
      {
        <div class="card-body bg-warning-subtle">
          <span class="text-black-50"><small>Admin Notes</small></span>
          <p class="card-text">@rec.AdminNotes </p>
        </div>
      }
    </div>
    <div class="col-sm-6">
      @if (!String.IsNullOrEmpty(rec.UserNotes))
      {
        <div class="card-body bg-info-subtle">
          <span class="text-black-50"><small>User Notes</small></span>
          <p class="card-text">@rec.UserNotes </p>
        </div>
      }
    </div>
  </div>

  @if (rec.Id != 0)
  {
    <div class="card-body text-center">
      <a href="@($"{Receipt.HrefPrefix}{rec.Id}{Receipt.HrefSuffix}")"
         target="_blank" title="@($"{Receipt.HrefPrefix}{rec.Id}{Receipt.HrefSuffix}")">
        Sukkot Receipt Url
      </a>
    </div>

    @* Fee *@
    <div class="my-1">
      <div class="d-flex justify-content-center mb-2">
        <span class="p-1"><b>Registration Fee</b>:&nbsp;</span>
        <span class="p-1 bg-warning-subtle text-black">
          @rec.RegistrationFee.CurrencyFormat
        </span>
      </div>
    </div>

    <DonationTable RegistrationId="rec.Id" />

  }

  <div class="card-footer">
    <b>@(rec.Id)</b>
    <button @onclick="OnButtonClicked" class="btn btn-sm btn-outline-primary">
      <i class="fas fa-caret-down"></i>
    </button>
  </div>



</div>


@code {
  [Parameter, EditorRequired] public required DetailCardRecord rec { get; set; }
  [Parameter] public EventCallback OnClose { get; set; }
  //string Fee = "___";


  // protected override void OnParametersSet()
  // {
  //   //if (RegistrationFee.TryFromValue(rec.FeeEnumValue, out var registrationFee))
  //   if (RegistrationFee.TryFromValue(rec.Adults, out var registrationFee))
  //   {
  //     Fee = registrationFee!.CurrencyFormat;
  //   }
  // }

  private void OnButtonClicked()
  {
    OnClose.InvokeAsync();
  }
}
