@using LivingMessiah.Enums;

<div class="@MediaQuery.Xs.DivClass"><HomeButtonDiv CssClass="d-sm-none" Title="<576px Xs" /></div>
<div class="@MediaQuery.Sm.DivClass"><HomeButtonDiv CssClass="d-none d-sm-block d-md-none d-lg-none d-xl-none" Title="≥576px Sm" /></div>
<div class="@MediaQuery.Md.DivClass"><HomeButtonDiv CssClass="d-none d-md-block d-lg-none d-xl-none" Title="≥768px" /></div>
<div class="@MediaQuery.Lg.DivClass"><HomeButtonDiv CssClass="d-none d-lg-block d-xl-none" Title="≥992px Lg" /></div>
<div class="@MediaQuery.Xl.DivClass"><HomeButtonDiv CssClass="d-none d-xl-block" Title="≥1200px Xl" /></div>

@code {

}