@* 
	@using static LivingMessiahAdmin.Links.Sukkot 
	@using LivingMessiahAdmin.Features.Sukkot.Constants;
*@

@* @using static        LivingMessiahAdmin.Features.Sukkot.Constants.Pages *@
@using ConstantsPages = LivingMessiahAdmin.Features.Sukkot.Constants.Pages

@using LivingMessiahAdmin.Settings
@using Microsoft.Extensions.Options

@inject IOptions<SukkotSettings> SukkotSettings

@{
	string classActive = ""; // "active"
	//<ol class="breadcrumb mx-auto justify-content-center">
}

<div class="d-print-none mt-3">
	<ol class="breadcrumb mx-n3 mt-n3">

		<li class="@classActive">
			<a class="badge bg-dark" href="@ConstantsPages.ManageRegistration.Index">
				<i class="@ConstantsPages.ManageRegistration.Icon">
				</i>&nbsp;@ConstantsPages.ManageRegistration.IconText
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-info text-black" href="@ConstantsPages.ManageNotes.Index">
				<i class="@ConstantsPages.ManageNotes.Icon">
				</i>&nbsp;@ConstantsPages.ManageNotes.IconText
			</a>&nbsp;&nbsp;
		</li>


		<li class="@classActive">
			<a class="badge bg-warning text-black" href="@ConstantsPages.Reports.AttendanceAllFeastDays">
				<i class="fas fa-chart-line"></i>&nbsp;Attend
			</a>&nbsp;&nbsp;
		</li>
@* 
		<li class="@classActive">
			<a class="badge bg-success" href="@ConstantsPages.Donations.Grid">
				<i class="fas fa-dollar-sign"></i>&nbsp;Donate
			</a>&nbsp;&nbsp;
		</li>
 *@
		<li class="@classActive">
			<a class="badge bg-secondary" href="@ConstantsPages.LegalAgreementVerbiage.Index">
				<i class="@ConstantsPages.LegalAgreementVerbiage.Icon"></i>&nbsp;@ConstantsPages.LegalAgreementVerbiage.Title
			</a>
		</li>

	</ol>

</div>
