@using LivingMessiah.Enums

<div class="@MediaQuery.Xs.DivClass"><FooterAlephBetXs /></div>
<div class="@MediaQuery.Sm.DivClass"><FooterAlephBet MediaQuery="MediaQuery.Sm" /></div>
<div class="@MediaQuery.Md.DivClass"><FooterAlephBet MediaQuery="MediaQuery.Md" /></div>
<div class="@MediaQuery.Lg.DivClass"><FooterAlephBet MediaQuery="MediaQuery.Lg" /></div>
<div class="@MediaQuery.Xl.DivClass"><FooterAlephBet MediaQuery="MediaQuery.Xl" /></div>

@code {

}
