@using LivingMessiah.Enums

@* NavBar.razor *@
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">

		<!-- Brand/Logo -->
		<NavbarHomeButton />

		<!-- Toggle button for mobile -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible navbar content -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">

				<li class="nav-item">
					<a class="nav-link @active" aria-current="page" href="/">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="@Enums.Nav.Calendar.Index">
						@Enums.Nav.Calendar.Title
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="@Enums.Nav.Donate.Index">
						@Enums.Nav.Donate.Title
					</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="@Enums.Nav.Leadership.Index">@Enums.Nav.Leadership.Title</a></li>
						<li><a class="dropdown-item" href="@Enums.Nav.Feasts.Index">@Enums.Nav.Feasts.Title</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="@Enums.Nav.FeastTable.Index">@Enums.Nav.FeastTable.Title</a></li>
						<li><a class="dropdown-item" href="@Enums.Nav.LunarMonth.Index">@Enums.Nav.LunarMonth.Title</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="@Enums.Nav.HeavensDeclare.Index">@Enums.Nav.HeavensDeclare.Title</a></li>
						<li><a class="dropdown-item" href="@Enums.Nav.ThresholdCovenant.Index">@Enums.Nav.ThresholdCovenant.Title</a></li>
					</ul>

				</li>
			</ul>

			<!-- Right-aligned items -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="@Enums.Nav.NavigationSearch.Index" title="@Enums.Nav.NavigationSearch.Title">
						<i class="@Enums.Nav.NavigationSearch.Icon"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="@Enums.Nav.Sitemap.Index">
						@Enums.Nav.Sitemap.Title
					</a>
				</li>
				@* 
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
				*@
			</ul>

		</div>
	</div>
</nav>

@code {

	string active = ""; // " active" // How does this get set?

	// Component logic can go here if needed
}

