@using LivingMessiah.Enums;

<div class="d-sm-none">
	<a class="navbar-brand nav-link text-warning" title="<576px Xs" href="@Nav.Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

<div class="d-none d-sm-block d-md-none d-lg-none d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥576px Sm" href="@Nav.Home.Index">
		<i class="fas fa-synagogue"></i> <sup><b>LMM</b></sup>
	</a>
</div>

<div class="d-none d-md-block d-lg-none d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥768px Md" href="@Nav.Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

<div class="d-none d-lg-block d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥992px Lg" href="@Nav.Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

<div class="d-none d-xl-block">
	<a class="navbar-brand nav-link text-warning" title="≥1200px Xl" href="@Nav.Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>
