@using LivingMessiah.Features.FeastDayPlanner
@using CalendarEnums = LivingMessiah.Features.Calendar.Enums

<div class="progress-stacked">
  <div class="progress" role="progressbar" aria-label="moon age" aria-valuenow="@DaysOld" aria-valuemin="0" aria-valuemax="100"
       style="width: @DaysOld%">
    <div class="progress-bar bg-secondary"></div>
  </div>
  <div class="progress" role="progressbar" aria-label="days until new moon" aria-valuenow="@PercentUntilNewMoon" aria-valuemin="0" aria-valuemax="100"
       style="width: @PercentUntilNewMoon%">
    <div class="progress-bar bg-success"></div>
  </div>
</div>

<div class="row mt-0">
  <div class="col-12">
    <div class="progress" role="progressbar" aria-label="Moon-O-Meter" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-secondary-subtle" style="width: 100%">
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="row mt-0">
  <div class="col-12">

    <div class="progress-stacked" style="height: @Progress.HeightMedium">

      <div class="progress" role="progressbar" style="width: 2%; height: @Progress.HeightMedium">
        <div class="progress-bar bg-secondary-subtle">
          &nbsp;
        </div>
      </div>

      @foreach (var item in Enums.Phases.List.OrderBy(o => o.Value))
      {
        <div class="progress" role="progressbar" style="width: 12%; height: @Progress.HeightMedium">
          <div class="progress-bar bg-secondary-subtle">
            <h1 class="text-dark">@item.Emoji</h1>
          </div>
        </div>
      }

      <div class="progress" role="progressbar" style="width: 2%; height: @Progress.HeightMedium">
        <div class="progress-bar bg-secondary-subtle">
          &nbsp;
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row mt-0">
  <div class="col-12">
    <div class="progress" role="progressbar" aria-label="Moon-O-Meter" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-secondary-subtle" style="width: 100%">
        <span class="text-dark text-center mt-0"><i>Moon-O-Meter</i></span>
      </div>
    </div>
  </div>
</div>

<div class="row mt-0">
  <div class="col-12">
    <div class="progress-bar bg-secondary-subtle" style="width: 100%">
      @if (@DaysDifferent != 0)
      {
        <p class="text-center mt-1 text-danger">
          <span class="badge @BadgeColor text-dark fw-bold">@DaysDifferent</span> days until new moon
        </p>
      }
      else
      {
        <h4 class="text-center text-danger mt-1">New Moon!!!</h4>
      }
    </div>
  </div>
</div>



@code {
  [Parameter, EditorRequired] public CalendarEnums.LunarMonth? LunarMonth { get; set; }
  [Parameter, EditorRequired] public ProgressBarVM? VM { get; set; }

  public int DaysOld { get; set; }
  public int PercentUntilNewMoon { get; set; }
  public int DaysDifferent { get; set; }
  public string? BadgeColor { get; set; }

  protected override void OnInitialized()
  {
    base.OnInitialized();
    //string inside = $"page {Page.Index}; class: {nameof(Index)}";
    DaysOld = VM!.DaysOld;
    DaysDifferent = VM!.DaysDifferent;
    PercentUntilNewMoon = VM!.PercentUntilNewMoon;
    BadgeColor = VM!.BadgeColor;

  }

}
