@using AccountEnum = LivingMessiahAdmin.Enums.Account
@using NavEnum = LivingMessiahAdmin.Enums.Nav

@inject NavigationManager NavigationManager
@inject ILogger<LoginButton>? Logger

<a class="float-start" title="@Nav.Home.Title" href="@Nav.Home.Index">
	<img src='/favicon.ico' alt='Logo' width='24' height='24' class='me-2 rounded'>
</a>

<button type="button"
				class="btn btn-xs btn-outline-info float-end text-black-50 me-2"
				@onclick="ButtonClick">
		<u>@AccountEnum.Login.Title</u> <i class="@AccountEnum.Login.Icon"></i>
</button>

@code {
	private void ButtonClick()
	{
		Logger!.LogInformation("{Method}, LoginIndex: {LoginIndex}, ReturnURL: {ReturnURL}"
		, nameof(ButtonClick), AccountEnum.Login.Index, @NavEnum.Home.Index);
		NavigationManager!.NavigateTo($"{AccountEnum.Login.Index}?returnUrl={@NavEnum.Home.Index}", true);
	}
}