@page "/Sukkot/LegalAgreementVerbiage/"


@using Microsoft.AspNetCore.Components.Authorization
@using LivingMessiahAdmin.SecurityRoot
@using MenuBarEnums = LivingMessiahAdmin.Features.Sukkot.Enums.MenuBar;
@using StepEnums = RCL.Features.Sukkot.Enums.Step

<AuthorizeView Policy="@RoleGroup.EmailVerified.Name">
  <Authorized>
    <PageHeaderMenubar MenuBarEnum=MenuBarEnums.LegalAgreementVerbiage />

    <div class="alert alert-secondary text-end" role="alert">
      <small>Policy: @RoleGroup.EmailVerified.Name</small>
    </div>

    <div class="card mt-0 mb-3">
      <div class="card-body border-info">
        <p>
          This is a mock-up of the legal verbiage that is shown to new registrants. This is
          <b>Step @StepEnums.SignAgreement.Value | <i class="@StepEnums.SignAgreement.Icon"></i> @StepEnums.SignAgreement.Text</b>
          in the registration process.
          It also includes the buttons to show the full process of compliance.
          Note, clicking the buttons will not actually be recorded.
        </p>
      </div>

      <div class="card-body border-info">
        <p>
          Should something like this be included? <br />
          <b>If a conflict arises the decisions will be made by the Elders and those decisions are final.</b>
          <br /><br />
          I think there should be a reference to the process of Matthew 18 included as well.
        </p>
      </div>

    </div>

    <h4 class="mb-3">To register for Sukkot, you must complete these steps</h4>

    <div class="card mt-0 mb-3">
      <div class="card-body bg-light">
        <VerbiageParagraph />
        <AgreementButtonsMockup EmailParm="FAKE@EMAIL" />
      </div>
    </div>

  </Authorized>
  <NotAuthorized>
    <LoginRedirectCard Nav="Nav.Sukkot" ReturnUrl=@Nav.Sukkot.Index />
  </NotAuthorized>
</AuthorizeView>


@code {

}
