@page "/Sukkot/LegalAgreementVerbiage/"

@using LivingMessiahAdmin.Features.Sukkot.Enums
@* <PageHeaderMenubar MenuBarEnum=MenuBar.LegalAgreementVerbiage /> *@

<div class="@MediaQuery.XsOrSm.DivClass">
  <PageHeaderMenubar MenuBarEnum=MenuBar.LegalAgreementVerbiage IsXsOrSm=true />
</div>
<div class="@MediaQuery.MdOrLgOrXl.DivClass">
  <PageHeaderMenubar MenuBarEnum=MenuBar.LegalAgreementVerbiage IsXsOrSm=false />
</div>


<div class="card mt-0 mb-3">
  <div class="card-body border-info">
    <p>
      This is a mock-up of the legal verbiage that is shown to new registrants. This is 
      <b>Step @Enums.Step.SignAgreement.Value | <i class="@Enums.Step.SignAgreement.Icon"></i> @Enums.Step.SignAgreement.Text</b>
      in the registration process.
      It also includes the buttons to show the full process of compliance.
      Note, clicking the buttons will not actually be recorded.
    </p>
  </div>

  <div class="card-body border-info">
    <p>
      Should something like this be included? <br />
      <b>If a conflict arises the decisions will be made by the Elders and those decisions are final.</b>
      <br /><br />
      I think there should be a reference to the process of Matthew 18 included as well.
    </p>
  </div>

</div>

<h4 class="mb-3">To register for Sukkot, you must complete these steps</h4>

<div class="card mt-0 mb-3">
  <div class="card-body bg-light">
    <VerbiageParagraph />
    <AgreementButtonsMockup EmailParm="FAKE@EMAIL" />
  </div>
</div>


@code {

}
