@* 
<div class="@MediaQuery.MdOrLgOrXl.DivClass">
</div>
*@

<div class="d-print-none">
  <div class="text-end mt-2 ">
    <button class="@btnCSS"
            onclick="@OnButtonClicked"
            title="Download to @Constants.ExportCSVHelper.DownloadFileName">
      Download <i class="fas fa-file-csv"></i>
    </button>

    <a class="@btnCSS" href="javascript:window.print()">
      <span class="fa fa-print"></span> Print
    </a>
  </div>
</div>

@code {
  [Parameter] public EventCallback OnCommandDoExport { get; set; }

  string btnCSS = "btn btn-outline-secondary btn-sm me-1";

  void OnButtonClicked()
  {
    OnCommandDoExport.InvokeAsync();
  }
}
