@using LivingMessiahSukkot.Features.Constants
@using LivingMessiahSukkot.Features.Enums

@inject ILogger<StripeCard>? Logger

<form method="post" action="@Donation.SukkotRegistration.SessionUrl" @formname="sukkot-registration-checkout-form">
  <AntiforgeryToken />
  <input type="hidden" name="@FormFields.FeeEnumValue" value="@RegistrationFee!.Value" />
  <input type="hidden" name="@FormFields.RegistrationId" value="@RegistrationId" />
  <input type="hidden" name="@FormFields.Email" value="@Email" />
  <div class="card-body text-center">
    <button type="submit" class="btn btn-success btn-lg">
      <i class="fab fa-cc-stripe"></i> 
      Stripe Processing
      <i class="fas fa-chevron-circle-right"> </i>
    </button>
    <p class="mt-0"><small>Amount @RegistrationFee!.CurrencyFormat</small></p>
  </div>
</form>

@code {
  [Parameter, EditorRequired] public RegistrationFee? RegistrationFee { get; set; }
  [Parameter, EditorRequired] public int RegistrationId { get; set; }
  [Parameter, EditorRequired] public string Email { get; set; }


  // protected override void OnInitialized()
  // {
  // 	Logger!.LogDebug("{Method}, " , nameof(OnInitialized));
  // }
}
