@page "/Sitemap"

@using Microsoft.AspNetCore.Components.Web
@using PWA.Enums

@inject NavigationManager NavigationManager

<PageHeader PageEnum="Nav.Sitemap" />

<div class="card card border-0 ">
	<div class="mx-1">
		<div class="@MediaQuery.Xs.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xs" /></div>
	</div>

	<div class="@MediaQuery.Sm.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Sm" /></div>
	<div class="@MediaQuery.Md.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Md" /></div>
	<div class="@MediaQuery.Lg.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Lg" /></div>
	<div class="@MediaQuery.Xl.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xl" /></div>
</div>

@code {
	private void ButtonClicked(Nav nav)
	{
		NavigationManager!.NavigateTo(nav.Index);
	}
}
