@using BibleBookEnums = RCL.Enums.BibleBook

<div class="card border-primary mt-1">
	<div class="card-header"><h5 class="text-center">Lunar Month References</h5></div>

	<div class="card-body">
		<h5 class="card-title">Isaiah 81:3</h5>
		<blockquote>

			<p class="fs-6">
				<sup><b>3</b> [81:4]</sup>
				Blow <span class="hebrew">תִּקְעוּ</span> <sup>tik'u</sup> up the trumpet <span class="hebrew">שׁוֹפָר</span> <sup>shofar</sup> in the new moon <span class="hebrew">בַחֹדֶשׁ</span> <sup>vachodesh</sup>,
				in the time appointed <span class="hebrew">בַּכֵּסֶה</span> <sup>bakkeseh</sup>, on our solemn feast day <span class="hebrew">חַגֵּנוּ</span> <sup>chaggenu</sup>.
			</p>
			<small class="float-end"><i>@BibleBookEnums.Isaiah.TransliterationInHebrew</i> <span class="hebrew">@BibleBookEnums.Isaiah.NameInHebrew</span> <sup>@BibleBookEnums.Isaiah.Title </sup> 81:3</small>
		</blockquote>
	</div>

	<div class="card-body">
		<h5 class="card-title">Isaiah 66:23</h5>
		<blockquote>
			<p class="fs-6">
				<sup><b>23</b></sup>
				And it shall come to pass, that from one new moon <span class="hebrew">חֹדֶשׁ</span> <sup>chodesh</sup> to another <span class="hebrew">בְּחָדְשׁוֹ</span> <sup>bechadesho</sup>,
				and from one sabbath <span class="hebrew">שַׁבָּת</span> <sup>shabbat</sup> to another <span class="hebrew">בְּשַׁבַּתּוֹ</span> <sup>beshabbatto</sup>,
				shall all flesh come to worship <span class="hebrew">לְהִשְׁתַּחֲוֺת</span> <sup>lehishtachavot</sup> before me,
				saith <span class="hebrew">אָמַר</span> <sup>amar</sup> <span class="hebrew">יְהוָה</span> <sup>Yahovah</sup>.
			</p>
			<small class="float-end"><i>@BibleBookEnums.Isaiah.TransliterationInHebrew</i> <span class="hebrew">@BibleBookEnums.Isaiah.NameInHebrew</span> <sup>@BibleBookEnums.Isaiah.Title </sup> 66:23</small>
		</blockquote>
	</div>

</div>


@code {

}
