@using Microsoft.Extensions.Options
@using LivingMessiah.Features.Sukkot.ConstantsFOLDER

@inject ILogger<StripeCard>? Logger

<div class="card border-primary">
	<div class="card-header text-center text-primary fs-5">We look forward to seeing you during Sukkot, it is going to be awesome!</div>

	<div class="row g-0">

		<div class="col-md-6 col-lg-8">
			<div class="card-body">
				<p class="card-text">
					We are currently using <b>Stripe Payment Links</b> for processing Living Messiah Ministry Sukkot donations.
				</p>
				<p class="card-text">
					The table above is to help you in determining the amount.
				</p>
				<h4 class="card-title mt-2"><span class="badge bg-secondary text-white">Instructions</span></h4>
				<p class="card-text">
					1. By our calculations, the remaining amount is <b>@RemainingCostFormated </b>.
					If you need to enter a different, amount click the <small><u>Change amount</u></small>
				</p>
				<p class="card-text">
					2. By clicking the <span class="badge bg-primary"><b>Donation</b></span> button
					, you will be redirected to a <b>second tab</b> on your browser so that you can complete the process.
				</p>
				<p class="card-text">
					<img src="/Images/second-tab.jpg" class="img-fluid" alt="second tab created by Stripe" />
				</p>
				<p class="card-text">
					3. Fill out the normal credit card / debit card processing and submit the form.
				</p>

			</div>
		</div>

		<div class="col-md-6 col-lg-4">
			<div class="card body">
				<form method="post" action="@Donation.SukkotRegistration.SessionUrl" @formname="sukkot-registration-checkout-form">
					<AntiforgeryToken />
					<input type="hidden" name="@FormFields.RegistrationId" value="@RegistrationId" />
					<input type="hidden" name="@FormFields.Email" value="@Email" />
					<input type="hidden" name="@FormFields.Amount" value="@Amount" />
					<div class="card-footer bg-dark-subtle text-end">
						<button type="submit" class="btn btn-primary">Registration Donation</button>
					</div>
				</form>
			</div>
		</div>

	</div> <!-- row -->
</div> <!-- card -->

@code {
	[Parameter, EditorRequired] public int RegistrationId { get; set; }
	[Parameter, EditorRequired] public string Email { get; set; }
	[Parameter, EditorRequired] public string Amount { get; set; }
	[Parameter, EditorRequired] public string RemainingCostFormated { get; set; }

	// protected override void OnInitialized()
	// {
	// 	Logger!.LogDebug("{Method}, " , nameof(OnInitialized));
	// }
}
