@page "/further"
@page "/furtherstudies"

<PageHeader PageEnum="Nav.FurtherStudies" />


<h2><span class="badge bg-warning">Learning Hebrew</span></h2>

<p class="h5">
	<strong>Why Learn Hebrew?</strong>
	<br />There are several good reasons to learn a little Hebrew:

	@* <ul class="fa-ul size16"> This doesnt work      *@
	<ul class="fa-ul lead">
		<li><i class="fa-li fas fa-caret-right text-warning"></i>In your personal Bible study, knowing some of the Hebrew words from which the English words were translated can often lead to additional insights.</li>
		<li><i class="fa-li fas fa-caret-right text-warning"></i>Knowing a little Hebrew can be of great help if you ever travel to Israel.</li>
	</ul>
</p>

<div class="card card-body bg-light">
	<h4>Consider this verse found in the New King Jame Version which reads</h4>
	<blockquote class="blockquote">
		For then I will restore to the peoples a pure language, that they all may call on the name of the Lord, to serve Him with one accord.
		<small>Zephaniah 3:9</small>
	</blockquote>

	<p class="h5">
		Do you suppose that the "pure language" might be Hebrew?<br />
		<a href="https://myhebrewbible.com/Hebrew/Zepc3v8"
			 class="btn btn-primary btn-sm float-end" target="_blank">
			<span class="fas fa-external-link-alt"></span> Learn More...
		</a>
	</p>

	<br /><br />

	<img src="@Constants.Blobs.Link("Alephbet.jpg")" alt="Hebrew Alephbet" class="img-fluid rounded" style="margin:auto" />

</div>

<h2 class="mt-3"><span class="badge bg-warning">Hebrew Basics</span></h2>

<p class="h5">
	There are many tools on-line to help you learn the <b>alphabet</b> and <b>how to count.</b>  Here are just a few:
	<br>
</p>
<ul class="lead">
	<li>Animated <a href="https://www.youtube.com/embed/UiCzoTs1AdE" target="_blank">Hebrew Alephbet song</a> on YouTube</li>
	<li><a href="http://www.jewfaq.org/alephbet.htm" target="_blank">Concise Reference Document</a> from Judaism 101</li>
	<li>Cute video of people from 1 to 100 <a href="https://www.youtube.com/watch?v=7WwQL6hr02A" target="_blank">speaking their age in Hebrew</a></li>
	<li>The website <a href="http://hebrew4christians.com" target="_blank"> Hebrew4Christians </a> is a great source for all sorts of learning and teaching aids.  This <a href="http://www.hebrew4christians.com/Grammar/Unit_One/Homeschool/homeschool.html" target="_blank"> page </a> in particular is useful for those just starting out.</li>
</ul>

<h3><u>More Tools to Learn Hebrew</u></h3>
<ul class="lead">
	<li>
		Our own Craig Peters (see below) has written several articles for those who are trying to learn or improve their knowledge of Hebrew.
		<a href="@Constants.Blobs.LearningHebrewLink()" target="_blank">
			Learning Hebrew - Featuring Basic	Hebrew Prefixes and Suffixes
		</a> is one such article.  (This article was presented as an In-Depth Bible Study at Living Messiah in early 2015)
	</li>

	@*				
					Note: this video is no longer available
					<li>
						This is a fourteen part YouTube Series by Jim Staley (Passion for Truth Ministries) on the
						<a href="https://youtu.be/vRgmSdOA9kI" target="_blank"> Ancient Hebrew Alephbet</a>
					</li>
*@
</ul>

<h2><span class="badge bg-warning">Learning Hebrew Together</span></h2>

@*				
					Note: It was decided by leadership to remove this link

					
				<p class="h5">
					Some time ago, we conducted a beginning level Hebrew class entitled, <b>"Families Learning Hebrew Together."</b>
					There were handouts that accompanied each week's lesson.
					For those of you who were unable to receive copies of these handouts, they are available here for you to print out.
					These handouts are useful if you are teaching beginning Hebrew to your family or friends or if you are learning it yourself.
					<br>
					We also recorded them on YouTube <span class="fab fa-youtube"></span>.
				</p>

				<a href="https://www.youtube.com/watch?v=PUlcfZ4eT5M&list=PLAmg7YxItfMS_XSvPQm6Tw-3H0OEOYXVb"
					 class="btn btn-primary btn-sm"
					 title="Videos Recored at Living Messiah">
					<i class="fab fa-youtube fa-2x pull-left"></i>
					Learning Hebrew Class <br />Taught by Matthew
				</a>
				*@


@* <HebrewHandoutTable /> *@

<h3 class="mt-5"><u>PDF Handouts</u></h3>

<!--NewMoonPresentation-->

<h2><span class="badge bg-warning"><i class="fas fa-book"></i> Moons (Blood and New)</span></h2>
<h3>Presentations by Mark Webb</h3>
<h3><i class="far fa-moon fa-2x text-success"></i> New Moons</h3>
<div class="row">
	<div class="col-6">
		<p class="lead">
			Recently, Mark Webb, our congregation leader, was invited to give a presentation on the ancient Hebrew celebration of the New Moon.
			His presentation was video taped and is available through YouTube <span class="fab fa-youtube"></span>.
			You can view Mark's presentation in five parts by clicking on the links to the right &rarr;.
		</p>

	</div>
	<div class="col-6">
		<br />
		<div class="card card-body bg-danger">
			<h4><span class="fab fa-youtube fa-2x"></span> <small>Video Links</small></h4>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="http://youtu.be/VWM81wVx0Vc" target="_blank"><u>Part 1</u></a>, </li>
				<li class="list-inline-item"><a href="http://www.youtube.com/watch?v=DBf0QwHK-7c" target="_blank"><u>Part 2</u></a>,</li>
				<li class="list-inline-item"><a href="http://www.youtube.com/watch?v=Pifz9lRQifo" target="_blank"><u>Part 3</u></a>,</li>
				<li class="list-inline-item"><a href="http://www.youtube.com/watch?v=xy0Xz7pbiMc" target="_blank"><u>Part 4</u></a>,</li>
				<li class="list-inline-item"><a href="http://www.youtube.com/watch?v=VIfuux1rDpw" target="_blank"><u>Part 5</u></a>.</li>
			</ul>
		</div>

	</div>
</div>

<h3><i class="far fa-moon fa-2x text-danger"></i> Blood Moons</h3>
<p class="h5">
	<a class="float-end" href="BloodMoons/">
		<img src="@Constants.Blobs.Link("RedMoonSm.jpg")" class="img-fluid" />
	</a>
	<br />
	Mark Webb has also developed an Internet presentation entitled, "<strong>Blood <span class="text-danger">Red</span> Moons</strong>."
	It is a fascinating	look at when in history we've had these curious occurrences.
	<br />
	Click <a href="BloodMoons" class="btn btn-sm btn-primary"> <u>here</u></a> to view this presentation.
</p>

<!--YeshuaOtVerses-->

<h2><span class="badge bg-warning"><i class="fab fa-leanpub"></i> Yeshua in the Tanakh</span></h2>

<p class="text-muted"><small><i>Tanakh</i> is the Old Testament</small></p>

<p class="h5">
	<b>Luke 24:13-34</b> tells the story of two disciples who were walking on the road to Emmaus, talking with each other about the recent death of Yeshua.
	They were joined on their journey by the resurrected Messiah.
</p>

@*
					THIS DOESN'T WORK, EVEN THOUGH I HAVE NO ISSUES AT https://localhost:5001/Leadership (see the quote from Psalms 19:1)
					THE DIFFERENCE IS THAT HERE IT IS WRAPPED iNSIDE <ContentTemplate></ContentTemplate>
					SOLUTION: Wrap the <i> and <blockquote> inside a <div>
				*@

<p>
	<BibleQuote Cite="Luke 24:27">
		<p class="fs-5 text-primary">
			Then beginning with Moses and with all the prophets, He explained to them the things concerning Himself in all the Scriptures.
		</p>
	</BibleQuote>
</p>

<p class="lead">
	Listed below are some of the Scriptures in the Tanakh (Old Testament) that Yeshua probably used when speaking with these two men on the road to Emmaus.
</p>

<div class="row">
	<div class="col-sm-3">

		<button type="button" class="btn btn-info btn-sm" @onclick="@(e => ToggleVersePopupClick(IsCollapsed, 1))">
			Genesis 49:10
		</button>
		<blockquote class="blockquote">
			<sup>10</sup> The scepter shall not depart from Judah,<br />
			Nor the ruler’s staff from between his feet,<br />
			Until Shiloh comes*,<br />
			And to him shall be the obedience of the peoples.<br /><br />
			* Or <i>Until he comes to Shiloh</i>; or <i>Until he comes to whom it belongs</i><br /><br />
			<small><b>Genesis 49:10</b></small>
		</blockquote>

	</div>

	<div class="col-sm-3">
		<button type="button" class="btn btn-info btn-sm" @onclick="@(e => ToggleVersePopupClick(IsCollapsed, 2))">
			Deuteronomy 18:15
		</button>
		<blockquote class="blockquote">
			<sup>15</sup> The LORD your God will raise up for you a prophet like me from among you, from your countrymen, you shall listen to him.
			<small><b>Deuteronomy 18:15</b></small>
		</blockquote>
	</div>

	<div class="col-sm-3">
		<div class="card card-body bg-light">

			<button type="button" class="btn btn-info btn-sm" @onclick="@(e => ToggleVersePopupClick(IsCollapsed, 3))">
				Isaiah 7:14
			</button>
			<blockquote class="blockquote">
				<sup>14</sup> Therefore the Lord Himself will give you a sign: Behold, a virgin will be with child and bear a son, and she will call His name Immanuel.
				<small><b>Isaiah 7:14</b></small>
			</blockquote>
		</div>
	</div>

	<div class="col-sm-3">
		<button type="button" class="btn btn-info btn-sm" @onclick="@(e => ToggleVersePopupClick(IsCollapsed, 4))">
			Isaiah 9:6-7
		</button>
		<blockquote class="blockquote">
			<sup>6</sup> For a child will be born to us, a son will be given to us;
			And the government will rest on His shoulders;
			And His name will be called Wonderful Counselor, Mighty God,
			Eternal Father, Prince of Peace.<br />
			<sup>7</sup> There will be no end to the increase of His government or of peace,
			On the throne of David and over his kingdom,
			To establish it and to uphold it with justice and righteousness
			From then on and forevermore.
			The zeal of the Lord of hosts will accomplish this.
			<small><b>Isaiah 9:6-7</b></small>
		</blockquote>
	</div>
</div>

<div class="row col-12">
	<p class="text-muted">ToDo: this modal function is not working yet</p>
</div>

<!--ResourceLinks-->
<h2><span class="badge bg-warning">Other Resources</span></h2>

<blockquote class="blockquote">
	There are many on-line tools available to you as you pursue your own personal Bible study.
	<br /><i class="fas fa-exclamation-triangle"></i> You should be somewhat cautious, however, as many websites may contain false or misleading information.
</blockquote>

<ul class="h5">

	<li>
		A detailed and interactive map <span class="fas fa-map-signs"></span> of ancient Israel at the time of Joshua and Judges.

		<a href="https://www.bible-history.com/index.php"
			 class="btn btn-primary btn-sm" target="_blank">
			<i class="fas fa-external-link-alt"></i>...
		</a>
	</li>
	<li>
		If you know of any resources that you have found useful, please let us know. <i class="fas fa-question"></i>
	</li>
</ul>


@code {
	public bool IsCollapsed { get; set; } = true;
	public int VerseId { get; set; }
	public string ButtonText { get; set; } = "Details";
	public string ButtonChevron { get; set; } = " fas fa-chevron-down";

	protected void ToggleVersePopupClick(bool isCollapsed, int verseId)
	{
		IsCollapsed = !isCollapsed;
		VerseId = verseId;
		ButtonText = IsCollapsed ? "Details" : "Hide";
		ButtonChevron = IsCollapsed ? "fas fa-chevron-down" : "fas fa-chevron-up";
	}
}
