@using LivingMessiah.Features.Sukkot.Constants
@using LivingMessiah.Features.Sukkot.Domain
@using LivingMessiah.Features.Sukkot.Enums;


<h4 class="my-4 text-center border-bottom border-dark-subtle border-4">@Other.PrintTitle</h4>

<div class="mt-2 mb-4 border-bottom border-dark-subtle border-2">

	<div class="d-flex justify-content-around">
		<div><b>Name</b>: @vwRegistration!.FullName(false); <i>@vwRegistration!.OtherNames</i></div>

		<div><b>Registration#</b>: @vwRegistration!.Id</div>
	</div>

	<div class="d-flex justify-content-around">
		<div><b>EMail / Phone</b>: @vwRegistration!.EMail / @Phone2</div>

		@if (vwRegistration.StatusId != 0)
		{
			<div><b>Status</b>: @vwRegistration.StatusName?? "StatusName: null"</div>
		}
		else
		{
			<div><b>Status</b>: StatusId==0</div>
		}
	</div>

</div>

@* House Rules Agreement *@
<div class="mt-2 mb-4 border-bottom border-dark-subtle border-2">
	<div class="d-flex justify-content-center">
		<b>House Rules Agreement</b>:
		Agreed on @vwRegistration!.HouseRulesAgreementDate
	</div>
</div>


@* Attendance *@

<div class="mt-2 mb-4 border-bottom border-dark-subtle border-2">
	<div class="d-flex justify-content-center">
		<b>Attendance</b>:&nbsp;
		<ul class="list-inline">
			<li class="list-inline-item">Adults: <span class="">@vwRegistration!.Adults</span></li>
			<li class="list-inline-item">Child (Big):<span class="">@vwRegistration!.ChildBig</span></li>
			<li class="list-inline-item">Child (Small):<span class="">@vwRegistration!.ChildSmall</span></li>
		</ul>
	</div>

	<div class="@MediaQuery.Xs.DivClass">
		<div class="d-flex justify-content-center mb-4">
			<AttendanceDateCalendar IsXs="true"
															AttendanceDateList="vwRegistration!.AttendanceDateList"
															AttendanceDateList2ndMonth="vwRegistration!.AttendanceDateList2ndMonth">
			</AttendanceDateCalendar>
		</div>
	</div>


	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<div class="d-flex justify-content-center mb-4">
			<AttendanceDateCalendar IsXs="false"
															AttendanceDateList="vwRegistration!.AttendanceDateList"
															AttendanceDateList2ndMonth="vwRegistration!.AttendanceDateList2ndMonth">
			</AttendanceDateCalendar>
		</div>
	</div>

</div>



@* Cost *@

<div class="mt-2 mb-4 border-bottom border-dark-subtle border-2">
	<div class="d-flex justify-content-center mb-2">

		<span class="p-1"><b>Cost</b>:&nbsp;</span>
		<span class="p-1 bg-danger-subtle text-black">@vwRegistration!.RegistrationFeeAdjusted.ToString("C0")</span>
	</div>
</div>

@* Notes *@
@if (!String.IsNullOrEmpty(vwRegistration!.Notes))
{
	<div class="mt-2 mb-4 border-bottom border-dark-subtle border-2">
		<div class="d-flex justify-content-center">
			<b>Notes</b>: @vwRegistration!.Notes
		</div>
	</div>
}

@* Address (print only) *@
<div class="d-none d-print-block">
	<div class="mt-2 mb-4 border-bottom border-dark-subtle border-2">
		<div class="d-flex justify-content-center">
			<Address OnOneLine="true" UseLabel="true" />
		</div>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public vwRegistration? vwRegistration { get; set; }

	string Phone2 = string.Empty;

	protected override void OnParametersSet()
	{
		Phone2 = !String.IsNullOrEmpty(@vwRegistration!.Phone) ? $"Phone: {@vwRegistration!.Phone}, " : "";
	}
}