@using LivingMessiahSukkot.Enums

<div class="d-print-none">

@* NavBar.razor *@
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">

		<!-- Brand/Logo -->
		<div class="@MediaQuery.Xs.DivClass"><LeftAnchors IsXs=true  /></div>
		<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass"><LeftAnchors IsXs=false /></div>

		<!-- Toggle button for mobile -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible navbar content -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
			</ul>

			<!-- Right-aligned items -->
			<ul class="navbar-nav">
@* 
				<li class="nav-item">
					<a class="nav-link text-white "
						 href="@Nav.Sitemap.Index" title="@Nav.Sitemap.Title">
						<i class="@Nav.Sitemap.Icon"></i>
					</a>

				</li>
 *@
				@* 
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
				*@
			</ul>

		</div>
	</div>
</nav>

</div>

@code {

}

