@page "/Calendar"
@page "/KeyDates"
@using RCL.Features.Calendar
@using RCL.Features.Calendar.Navigation
@using RCLEnums = RCL.Features.Calendar.Navigation.Enums
@using CalendarEnumDateType = RCL.Features.Calendar.Enums.DateType

@inject ILogger<Index> Logger

@* <PageHeader PageEnum="LivingMessiah.Enums.Nav.Calendar" /> *@
<PageHeader PageEnum="LivingMessiah.Enums.Nav.Calendar">
	<div class="pb-n1 mt-2 mb-3 ">
		<h1 class=""><i class="@Nav.Calendar.Icon"></i>&nbsp;&nbsp;@Nav.Calendar.Title</h1>

		@* <div class="alert alert-danger text-center fs-4" role="alert">Work in Progress!</div> *@

	</div>
</PageHeader>

<nav class="navbar navbar-expand bg-primary-subtle">
	@* <div class="d-flex justify-content-start"><div class="px-1"><HomeButton /></div></div> *@
	<div class="collapse navbar-collapse justify-content-between">

		<div class="px-1">
			<PreviousOrNextButton CurrentDate="CurrentDate"
														Direction=RCLEnums.Direction.Previous
														OnDateSelected="ReturnedDateSelected" />
		</div>


		<div class="col">
			<h5 class="text-center mb-0">@CurrentDate.ToString(DateFormat.MMMM_YYYY)</h5>
		</div>

		<div class="px-1">
			<PreviousOrNextButton CurrentDate="CurrentDate"
														Direction=RCLEnums.Direction.Next
														OnDateSelected="ReturnedDateSelected" />
		</div>
	</div>

	@* <div class="d-flex justify-content-end pe-1">@JustifyEndRF</div> *@									
</nav>

<br />

<div class="border-bottom border-dark border-4 ">
	<MonthHeader />
</div>

<div class="border-bottom border-dark border-4 ">
	<div class="@MediaQuery.XsOrSm.DivClass">
		<RowsAndColumnsArray CurrentDate="CurrentDate" IsXsOrSm="true" />
	</div>
	<div class="@MediaQuery.MdOrLgOrXl.DivClass">
		<RowsAndColumnsArray CurrentDate="CurrentDate" IsXsOrSm="false" />
	</div>
</div>



<div class="row mt-2">
	<div class="col-12">
		<ToggleButton ButtonLabel="Raw Data">

			<div class="card bg-warning-subtle p-1">
				<EventsTable CurrentFilter="CurrentFilter" OnFilterSelected="ReturnedRawDataFilter" />
			</div>

		</ToggleButton>
	</div>
</div>

@code {
	public DateOnly CurrentDate = DateOnly.FromDateTime(DateTime.Today);
	//public DateOnly CurrentDate = new DateOnly(2026, 3, 1);
	protected CalendarEnumDateType? CurrentFilter = CalendarEnumDateType.All;

	#region EventCallbacks

	private async Task ReturnedDateSelected(DateOnly date)
	{
		CurrentDate = date;
		Logger!.LogDebug("{Method} {Message}", nameof(ReturnedDateSelected), date.ToShortDateString());
	}

	private void ReturnedRawDataFilter(CalendarEnumDateType filter)
	{
		//Logger!.LogDebug("{Method} {Message}", nameof(ReturnedRawDataFilter), filter.Name);
		CurrentFilter = filter;
	}

	#endregion
}
