@page "/Calendar"
@page "/KeyDates"

@using LivingMessiah.Features.FeastDayPlanner
@using LivingMessiah.Settings
@using Microsoft.Extensions.Options

@inject IOptions<AppSettings>? AppSettings
@inject ILogger<Index>? Logger

<PageHeader PageEnum="LivingMessiah.Enums.Nav.Calendar" />
@* 

@if (printedCalendarEnum == PrintedCalendarEnum.ReadyForSale | printedCalendarEnum == PrintedCalendarEnum.OnlyShowCover)
{
	<div class="@MediaQuery.XsOrSm.DivClass">
		<LmmCalendarAdvertisement IsXsOrSm="true" PrintedCalendarEnum="@printedCalendarEnum" Year="@YearId" />
	</div>
	<div class="d-none d-md-block">
		<LmmCalendarAdvertisement IsXsOrSm="false" PrintedCalendarEnum="@printedCalendarEnum" Year="@YearId" />
	</div>
}
 *@

<div class="@MediaQuery.XsOrSm.DivClass">
	<div class="card bg-secondary text-white mb-0">
		<CalendarSfSchedule IsXsOrSm="true" YearId="@YearId" />
	</div>
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<CalendarSfSchedule IsXsOrSm="false" YearId="@YearId" />
</div>

<LivingMessiah.Features.FeastDayPlanner.Index />

@if (CarouselSettings.Display)
{
	<div class="@MediaQuery.Xs.DivClass">
		<Carousel IsXs=true/>
	</div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<Carousel IsXs=false />
	</div>
}


<CalendarExplanation /> 

 @code {
	public int YearId { get; set; }
	private PrintedCalendarEnum printedCalendarEnum { get; set; }

	protected override void OnInitialized()
	{
		YearId = AppSettings!.Value.YearId;
		Logger!.LogDebug("{Method}, YearId: {YearId}", nameof(OnInitialized), YearId);

		printedCalendarEnum = PrintedCalendarEnum.OnlyShowCover;
	}
}
