@inject IToastService? Toast

<div class="mb-2 d-grid gap-1 d-flex justify-content-end">
	<button @onclick="ShowHRAHandler" title="Show the House Rules Agreement form"
					type="button" class="@ManageRegistration.Constants.HRA.ShowButton.ButtonColor">
		<i class="@ManageRegistration.Constants.HRA.ShowButton.Icon"></i>
		@ManageRegistration.Constants.HRA.ShowButton.Text
	</button>

	<button @onclick="@(() => RepopulateHandler())" title="Re-populate the list"
					type="button" class="@ManageRegistration.Constants.RepopulateButton.ButtonColor">
		<i class="@ManageRegistration.Constants.RepopulateButton.Icon"></i>@ManageRegistration.Constants.RepopulateButton.Text
	</button>

</div>

@code {
	void ShowHRAHandler()
	{
		Toast!.ShowWarning($"ToDo: Fluxor.Blazor code not converted over, | {nameof(ShowHRAHandler)}");
		/*
		Dispatcher!.Dispatch(new ParentState.Set_PageHeader_For_Detail_Action(
			Constants.HRA.PageHeader.Text, Constants.HRA.PageHeader.Icon, Constants.HRA.PageHeader.Color, 0));
		Dispatcher!.Dispatch(new ParentState.Set_DetailPageHeader_Empty_Action());
		Dispatcher!.Dispatch(new HRA.ClearForm_Action());
		Dispatcher!.Dispatch(new ParentState.Set_VisibleComponent_Action(Enums.VisibleComponent.HRA_Form));
		 */
	}

	void RepopulateHandler()
	{
		//Dispatcher!.Dispatch(new GetAll_Action());
		Toast!.ShowWarning($"ToDo: Fluxor.Blazor code not converted over, | {nameof(RepopulateHandler)}");
	}
}
