@using FeastEnums = RCL.Features.Feasts.Enums

@using CalendarEnums = RCL.Features.Calendar.Enums
@using PWA.Helpers
@using NavEnums = PWA.Enums.Nav
@using PWA.Features.FeastDayPlanner
@using PWA.Features.FeastDayPlanner.Data

@inject ILogger<FeastCards>? Logger
@* @inject IToastService? Toast *@

@if (FeastList is not null && FeastList.Count() != 0)
{
	<div class="card border border-warning border-3 rounded-top text-center mb-3 mt-3">
		<div class="card-header text-center bg-warning-subtle">
			<h2 class="text-center text-black">Upcoming Feasts</h2>
		</div>

		@foreach (var item in FeastList)
		{
			<div class="card-body ">
				<div class="card border bg-primary-subtle">

					<div class="card-header text-center">
						<div class="d-flex justify-content-between">
							<div class="@FontSize mt-3">@item.Title</div>
							<div class="@HebrewCSS">@item!.FloatRightHebrew</div>
						</div>
						<div class="fs-6">(@item.DaysAway) days away</div>
					</div>

					<div class="card-body">
						<img src="@item.Image" class="img-fluid rounded-start" alt="@item.Title">
					</div>

					<div class="card-body text-center">
						<div class=""><RelatedVersesAnchor Title="Related Verses" Index="@item.Index" FontSize="@FontSize" ButtonCSS="btn btn-primary" /></div>
					</div>

				</div>
			</div>
		}

	</div>
}

@code {
	[Parameter, EditorRequired] public bool IsXs { get; set; }
	[Parameter] public DateOnly? CurrentDateOverride { get; set; }

	const string Title = "Upcoming Feasts";
	const string TitleColor = "bg-warning text-center text-black";
	
	protected string FontSize => IsXs ? " fs-1" : " fs-2";
	protected string HebrewCSS => IsXs ? " hebrew36" : "  hebrew36";
	protected string NothingUpcoming = "";

	protected List<FeastCardDTO>? FeastList;

	DateOnly CurrentDate;

	protected override void OnParametersSet()
	{
		try
		{
			CurrentDate = CurrentDateOverride ?? GetCurrentDate();

			Logger!.LogDebug("{Method}, {Message}", $"{nameof(GetCurrentDate)} (just called)"
			, $"CurrentDate: {CurrentDate.ToShortDateString()}");

			FeastList = (from feast in RCL.Features.Feasts.Enums.Feast.List.ToList()
									 join feastDay in CalendarEnums.FeastDay.List.ToList()
											 on feast.FeastDay?.Value equals feastDay.Value
									 where CurrentDate >= feastDay.StartShowingCard && CurrentDate <= feastDay.DateOnlyRange.Max
									 orderby feast.Value
									 select new FeastCardDTO
									 {
										 Title = feast.Title,
										 Index = feast.Index,
										 Image = feast.Image,
										 FloatRightHebrew = feast.Hebrew.FloatRightHebrew ?? "",
										 RangeFormatted = feastDay.RangeFormatted,
										 DaysAway = feastDay.Date.DayNumber - CurrentDate.DayNumber
									 }).ToList();
		}
		catch (Exception ex)
		{
			Logger!.LogError(ex, "{Method}", nameof(OnParametersSet));
			//Toast!.ShowError($"{Global.ToastShowError} {nameof(FeastCards)}!{nameof(OnParametersSet)}");
		}
		if (FeastList is null || FeastList.Count() == 0) { NothingUpcoming = "opacity-50"; }
	}

	private DateOnly GetCurrentDate()
	{
		return DateUtil.GetDateTimeWithoutTime(DateTime.Now.AddDays(Test.AddDays).AddHours(Utc.ArizonaUtcMinus7));
	}

}

