@using LivingMessiah.Features.Sukkot.Constants

@if(IsXsOrSm)
{
	<div class="card border border-warning border-4 bg-warning-subtle ">
		<h3 class=" py-2 text-center text-black"><b>@Title</b></h3>
		<img src="@Constants.Blobs.UrlEvents(Other.Banner)"
					alt="@Constants.Blobs.Url(Other.BannerAlt)" 
					class="@CardImg img-fluid rounded" />

		<HeaderBody IsXsOrSm="IsXsOrSm" />
	</div>
}
else
{
	<div class="card border border-warning border-4 bg-warning-subtle ">
		<h2 class=" py-2 text-center text-black"><b>@Title</b></h2>
		<div class="row g-0">
			<div class="col-7 text-center">
				<img src="@Constants.Blobs.UrlEvents(Other.Banner)"
						 alt="@Constants.Blobs.Url(Other.BannerAlt)" class="img-fluid rounded" />
			</div>
			<div class="col-5">
				<HeaderBody IsXsOrSm="IsXsOrSm" />
			</div>
		</div>
	</div> <!-- Comments-->
}



@code {
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }

	protected string CardImg => IsXsOrSm ? " card-img-top " : "";
	string Title = $"Celebrating Sukkot {Constants.Year.String}";
}

