
<div class="card border border-warning border-4 bg-warning-subtle mt-4 ">
	<h2 class=" py-2 text-center text-black"><b>Registration</b></h2>

	<div class="card-body">
		<p class="lead">
			Filling out the <a class="btn btn-success btn-sm" href="@Enums.Pages.RegistrationSteps.Index">registration form</a> is only available on line.
			If you can not do that then contact one of the elders and we will fill it out for you.
		</p>
	</div>

@* 
	<div class="card-body">
		<h5 class="card-title mb-1">Registration Fee</h5>
		@if (Constants.RegistrationMeta.IsThereEarlyRegistration)
		{
			<dl class="row ms-1">
				<dt class="col-8">Early Registration Fee:</dt>
				<dd class="col-4"><span class="float-end">@Constants.RegistrationMeta.EarlyRegistrationFee.ToString("C0")</span></dd>
				<dt class="col-8">Early Registration Last Day:</dt>
				<dd class="col-4"><span class="float-end">@Constants.RegistrationMeta.EarlyRegistrationLastDay</span></dd>
			</dl>
		}
		<dl class="row ms-1">
			<dt class="col-8">Regular Registration Fee:</dt>
			<dd class="col-4"><span class="float-end">@Constants.RegistrationMeta.RegistrationFee.ToString("C0")</span></dd>
			<dt class="col-8">Registration Last Day:</dt>
			<dd class="col-4"><span class="float-end">@Constants.RegistrationMeta.RegistrationLastDay.ToShortDateString()</span></dd>
		</dl>
	</div>
 *@

	<div class="card-body text-center">
		<a class="btn btn-success btn-lg"
			 href="@Enums.Pages.RegistrationSteps.Index">
			@Constants.Breadcrumbs.Start.Text
			<i class="@Constants.Breadcrumbs.Start.Icon"></i>
		</a>
	</div>

</div>
