
	<div class="card-body">
		<div class="ms-2">

			<ul class="fa-ul">
				<li class="lead">
					<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
					Welcome First Time Guests and thanks for joining us in person or on-line
				</li>
				<li class="lead">
					<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
					Besides the website, see us on-line on YouTube, Facebook and see our
					<a href="@Nav.Podcast.Index"
						 title="@Nav.Podcast.Title" class="btn btn-outline-primary btn-sm">
						<i class="@Nav.Podcast.Icon" aria-hidden="true"></i>
						&nbsp;<b>@Nav.Podcast.Title</b>
					</a>
				</li>

				<li class="lead">
					<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
					Reading the Psalms and Proverbs (see below)
				</li>

				<li class="lead">
					<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
					Your giving helps meet the needs that come before this fellowship. You may also give online by clicking here

					<a href="@Nav.Donate.Index"
						 title="@Nav.Donate.Title" class="btn btn-primary btn-sm">
						<i class="@Nav.Donate.Icon" aria-hidden="true"></i>
						<b>@Nav.Donate.Title</b>
					</a>

					Back to Wellness	- Bags of Kindness
					<!-- <a asp-fragment="@Fragments.ThankYouTopId">see below <i class="fas fa-share fa-rotate-90"></i></a> for more details. -->
					see <i>Thank You</i> below <i class="fas fa-share fa-rotate-90"></i> for more details.
				</li>

			</ul>
		</div>
	</div>

@code {

}
