
<PageTitle>@FeastNav.Title</PageTitle>

<div class="my-3 ms-2">
	<h1 class=" @BorderCSS"><i class="@FeastNav.Icon"></i> @FeastNav.Title</h1>
</div>

<div class="d-flex justify-content-center">
	<div class="btn-group" role="group">
		<a href="@Nav.Feasts.Index" title="return to feast index"
			 class="btn btn-secondary btn-sm me-2">
			<i class="far fa-arrow-alt-circle-left"></i>
		</a>

		@foreach (var item in RCL.Features.Feasts.Enums.Feast.List.OrderBy(o => o.Value).ToList())
		{
			<a href="@item.Index" title="@item.Hebrew.TitleSuffix" type="button"
				 class="btn btn-outline-primary btn-sm @(item == FeastNav ? "active" : "")">
				<i class="@item.Icon" aria-hidden="true"></i>
			</a>
		}
	</div>
</div>

@code {
	[Parameter, EditorRequired] public RCL.Features.Feasts.Enums.Feast FeastNav { get; set; }
	[Parameter] public string? BorderCSS { get; set; } = "border-bottom border-dark-subtle";

	// class="btn btn-@item.MoadimColor btn-sm @(item == FeastNav ? "active" : "")">
}
