<h2 class="text-primary mt-4 mb-1"><b>Personal Resolution</b></h2>

<div class="card mb-3" >
	<div class="row g-0">
		<div class="col-4">
			<a href='@Blobs.UrlPdfs("resolve.pdf")' target="_blank">
			<img src="@Blobs.UrlRoot("ResolveSm.jpg")" class="img-fluid rounded-start" 
			alt="resolve">
			</a>
		</div>
		<div class="col-8">
			<div class="card-body">
				<p class="fs-5">
					This is a
					Each member of this congregation's leadership has made a personal vow before God concerning his life and conduct.
					This written vow, known as the "I Resolve" document, can be viewed
					<a href='@Blobs.UrlPdfs("resolve.pdf")'
						 class="btn btn-primary btn-sm" target="_blank">
						<i class="fas fa-file-pdf"></i>&nbsp;here
					</a>.
				</p>
			</div>
		</div>
	</div>
</div>

@* 

<img src="" class="img-fluid rounded-start" alt="...">

style="max-width: 300px;"


<p class="ms-3 fs-5">
	Each member of this congregation's leadership has made a personal vow before God concerning his life and conduct.
	This written vow, known as the "I Resolve" document, can be viewed
	<a href='@Blobs.UrlPdfs("resolve.pdf")'
		 class="btn btn-primary btn-sm" target="_blank">
		<i class="fas fa-file-pdf"></i>&nbsp;here
	</a>.
</p>

<p class="ms-3 fs-5">
	<a href='@Blobs.UrlPdfs("resolve.pdf")' target="_blank">
		<img class="img-fluid" src="@Blobs.UrlRoot("ResolveSm.jpg")" />
	</a>
</p>

 *@
@* 
<div class="container">

	<img src="@Blobs.UrlRoot("ResolveSm.jpg")"
			 class="float-start img-fluid me-3" 
			 style="width: 300px;" alt="Image">

	<p class="ms-3 fs-5">
		Each member of this congregation's leadership has made a personal vow before God concerning his life and conduct.
		This written vow, known as the "I Resolve" document, can be viewed
	</p>
</div>
 *@
@* <br /> *@

@code {

}
