@page "/Haggadah"

@using PWA.Features.Haggadah.Toolbar
@using PWA.Features.Haggadah.Toolbar.Modal
@using Page = PWA.Enums.Nav
@using PWA.Layout
@using PWA.Enums
@using PWA.Features.Haggadah.DetailContent
@using PWA.Layout.MenuNavbar

@inject ILogger<Index>? Logger

<PageTitle>@Page.Haggadah.Title</PageTitle>

@if (CurrentView == ViewEnum.CarouselView)
{
	<NavSkeleton>
		<PrevButtonDivRF>
			<PreviousOrNextButton Section="Section"
														Forward=false
														OnSectionSelected="ReturnedSection" />
		</PrevButtonDivRF>

		<ProgressBarDivRF>
			<div class="@MediaQuery.XsOrSm.DivClass">
				<Progressbar Section="Section" IsXsOrSm=true />
			</div>
			<div class="@MediaQuery.MdOrLgOrXl.DivClass">
				<Progressbar Section="Section" IsXsOrSm=false />
			</div>
		</ProgressBarDivRF>

		<NextButtonDivRF>
			<PreviousOrNextButton Section="Section"
														Forward=true
														OnSectionSelected="ReturnedSection" />
		</NextButtonDivRF>

		<JustifyEndRF>
			<MenuItemButtons OnModalSelected="ReturnedModalMenuItem" OnPrintFriendlySelected="ReturnedPrintFriendlySelected" />
		</JustifyEndRF>

	</NavSkeleton>

	<ModalSkeleton ShowMenuItem="CurrentModalToShow">
		<InstructionsRF>
			<Template OnClose="ReturnedCloseEvent">
				<HeaderRF>Haggadah Instructions</HeaderRF>
				<BodyRF>
					<PageInstructions />
				</BodyRF>
			</Template>

		</InstructionsRF>

		@* Appendix *@
		<TenPlaguesRF>
			<Template OnClose="ReturnedCloseEvent">
				<HeaderRF>Appendix 10 Plagues</HeaderRF>
				<BodyRF>
					<AppendixTenPlagues />
				</BodyRF>
			</Template>
		</TenPlaguesRF>

		<EasterRF>
			<Template OnClose="ReturnedCloseEvent">
				<HeaderRF>Appendix What about Easter?</HeaderRF>
				<BodyRF><AppendixEaster /></BodyRF>
			</Template>
		</EasterRF>

		<BibleVersesRF>
			<Template OnClose="ReturnedCloseEvent">
				<HeaderRF>Appendix Bible Verses</HeaderRF>
				<BodyRF><VerseIndex /></BodyRF>
			</Template>
		</BibleVersesRF>

		@* User Settings *@
		<LanguageRF>
			<Template OnClose="ReturnedCloseEvent">
				<HeaderRF>Language</HeaderRF>
				<BodyRF>
					<LanguagePickerButtons OnLanguageSelected="ReturnedLanguageMenuItem" />
				</BodyRF>
			</Template>
		</LanguageRF>
	</ModalSkeleton>

	<ContentSkeleton Content=CurrentContent Language="Language">
		<EngBody><DynamicComponent Type="DetailContentEng" /></EngBody>
		<EspBody><DynamicComponent Type="DetailContentEsp" /></EspBody>
	</ContentSkeleton>
}
else
{
	@if (CurrentView == ViewEnum.PrinterFriendlyView)
	{
		<div class="@MediaQuery.Xs.DivClass">
			<PrintFriendlyView Language="Language" IsXs="true" OnReturn="ReturnedNormalView" />
		</div>
		<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
			<PrintFriendlyView Language="Language" IsXs="false" OnReturn="ReturnedNormalView" />
		</div>
	}
	@* else { Not Possible	} *@
}

@code {
	protected int Section = 1;
	protected Enums.Content? CurrentContent;
	protected Enums.DisplayLanguage? Language = Enums.DisplayLanguage.English;

	protected override void OnInitialized()
	{
		//Logger!.LogInformation("OnInitialized: Language: {Language}; Section: {Section}", Language, Section);
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
		//if (CurrentContent is null) { Throw Exception }
		SetDetail();
		//if (DetailContentEng is null || DetailContentEsp is null) { Throw Exception }
	}

	protected Type? DetailContentEng;
	protected Type? DetailContentEsp;

	private void SetDetail()
	{
		//Logger!.LogInformation("{Method}, EngPath: {EngPath}, EspPath: {EspPath}"
		//	, nameof(SetDetail), Constants.DynamicComponentPathEng, Constants.DynamicComponentPathEsp);
		try
		{
			DetailContentEng = Type.GetType($"{Constants.DynamicComponentPathEng}.{CurrentContent!.Name}");
			DetailContentEsp = Type.GetType($"{Constants.DynamicComponentPathEsp}.{CurrentContent!.Name}");

			if (DetailContentEng is null)
			{
				Logger!.LogWarning("{Method}, DetailContentEng IS NULL; CurrentContent: {CurrentContent}"
					, nameof(SetDetail), CurrentContent);
				//Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(SetDetail)}");
				return;
			}

			if (DetailContentEsp is null)
			{
				Logger!.LogWarning("{Method}, DetailContentEsp IS NULL; CurrentContent: {CurrentContent}"
					, nameof(SetDetail), CurrentContent);
				//Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(SetDetail)}");
				return;
			}
		}
		catch (Exception ex)
		{
			Logger!.LogError(ex, "{Method}", nameof(SetDetail));
			//Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(SetDetail)}");
		}
	}

	// Called by: PreviousOrNextButton
	private void ReturnedSection(int section)
	{
		Section = section;
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
		SetDetail();
	}

	#region MenuTemplate and Skeleton
	// Called by: <Skeleton><LanguageRF><Template><BodyRF><LanguagePickerButtons OnLanguageSelected="ReturnedLanguageMenuItem" />
	private void ReturnedLanguageMenuItem(Enums.DisplayLanguage item)
	{
		Language = item;
		CurrentModalToShow = null;
	}

	protected Enums.ModalMenuItem? CurrentModalToShow { get; set; }

	private void ReturnedModalMenuItem(Enums.ModalMenuItem modalMenuItem)
	{
		CurrentModalToShow = modalMenuItem;
	}

	// Called by: <Skeleton> 4 times
	private void ReturnedCloseEvent()
	{
		CurrentModalToShow = null;
		//Logger!.LogInformation("{Method}, CurrentModalToShow set to null", nameof(ReturnedCloseEvent));
	}

	protected ViewEnum CurrentView = ViewEnum.CarouselView;
	private void ReturnedNormalView()
	{
		CurrentView = ViewEnum.CarouselView;
	}
	private void ReturnedPrintFriendlySelected()
	{
		CurrentView = ViewEnum.PrinterFriendlyView;
	}


	#endregion

}
