@page "/"

@using PWA.Features.Home.UpcomingFeasts
@using PWA.Features.Home.WeeklyDownload

@using RCL.Features.Calendar.Enums

<PageTitle>Home</PageTitle>

@* <CurrentParashaTable /> *@

<HomeImage />

<div class="container">
	<div class="@MediaQuery.Xs.DivClass">
		<WelcomeCard />
	</div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10"><WelcomeCard /></div>
			<div class="col-1"></div>
		</div>
	</div>
</div>

@* 
ToDo: Uncomment after adding Azure Function
 *@
<div class="container">
	<div class="@MediaQuery.Xs.DivClass">
		<LyricsLiturgyTeachingCard />
	</div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<LyricsLiturgyTeachingCard />
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>

<DailyWrapper />

<div class="@MediaQuery.Xs.DivClass"><FeastCards IsXs="true" /></div>
<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass"><FeastCards IsXs="false" /></div>

<div class="@MediaQuery.XsOrSm.DivClass"><SocialMediaButtons IsXsOrSm=true /></div>
<div class="@MediaQuery.MdOrLgOrXl.DivClass"><SocialMediaButtons IsXsOrSm=false /></div>

@code {

}





