@* @inject ILogger<CalendarDay>? Logger *@

@if (Date.Month == MonthId)
{
	if (Date == EffectiveCurrentDate)
	{
		<div class="calendar-day today">
			<div class="day-number">@Date.Day</div>
			<br />
			@* ToDo: Fist this <div>@GetSpecialDateDescriptions()</div> *@
			<div class="day-number">@Date.Day</div>
		</div>
	}
	else
	{
		if (specialDates is null || !specialDates.Any())
		{
			<div class="calendar-day other-month">
				<div class="day-number">@Date.Day</div>
			</div>
		}
		else
		{
			<div class="calendar-day special-date">
				<div class="day-number">@Date.Day</div>
				<br />
				<div>@GetSpecialDateDescriptions()</div>
			</div>
		}

	}
}
else
{
	<div class="calendar-day other-month">
		<div class="day-number">@Date.Day</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public DateOnly Date { get; set; }
	[Parameter, EditorRequired] public int MonthId { get; set; }
	[Parameter, EditorRequired] public List<Data.DtoCombined>? SpecialDatesList { get; set; }
	[Parameter] public DateOnly? CurrentDateOverride { get; set; } // For testing purposes

	private DateOnly EffectiveCurrentDate => CurrentDateOverride ?? DateOnly.FromDateTime(DateTime.Today);

	private List<Data.DtoCombined>? specialDates;

	protected override void OnParametersSet()
	{
		specialDates = GetSpecialDate();
	}

	private MarkupString? GetSpecialDateDescriptions()
	{
		if (SpecialDatesList is null || !SpecialDatesList.Any())
		{
			return null;
		}

		MarkupString result = new MarkupString();	
		foreach (var item in SpecialDatesList.Where(w => w.Date == Date))
		{
			result = item.Description ?? default(MarkupString);
		}
		return result;
	}

	private List<Data.DtoCombined>? GetSpecialDate()
	{
		if (SpecialDatesList is null || !SpecialDatesList.Any()) { return null;	}
		return SpecialDatesList.Where(w => w.Date == Date).ToList();
	}

}
