@using CalendarEnumDateType = RCL.Features.Calendar.Enums.DateType
@using ConstantsCSS = RCL.Features.Calendar.Constants.CSS.DayCell
@using EventFeastHelper = RCL.Features.Calendar.Enums.EventFeastHelper
@using Microsoft.AspNetCore.Components

@* @inject ILogger<DayCell>? Logger  *@

<div class="@MediaQuery">
	<div class="calendar-day @CSSToday @CSSMonth @CSSFeastBorder">
		@if (DayCellList is not null && DayCellList.Any())
		{
			<div class="day-content" @onclick="() => ShowModal()">
				@foreach (var item in DayCellList!)
				{
					<div class="d-flex @item.JustifyContentSuffix" title="@GetTitle(@item)">
						@((MarkupString)item.Span)
					</div>
				}
			</div>
		}
		else
		{
			<div class="">&nbsp;</div>
		}

		<div class="day-number" title="CSSFeastBorder: @CSSFeastBorder">@Date.Day</div>
		@* <div class="day-number">@Date.Day</div> *@

	</div>
</div>


@code {
	[Parameter, EditorRequired] public DateOnly Date { get; set; }
	[Parameter, EditorRequired] public int MonthNumber { get; set; }
	[Parameter, EditorRequired] public List<Enums.EventRecord>? DayCellList { get; set; }
	[Parameter, EditorRequired] public string MediaQuery { get; set; }
	[Parameter, EditorRequired] public string FeastRowBorder { get; set; }



	private string CSSToday => Date == DateOnly.FromDateTime(DateTime.Today) ? ConstantsCSS.Today : string.Empty;
	//private string CSSToday => Date == new DateOnly(2026, 3, 2) ? ConstantsCSS.Today : string.Empty;

	private string CSSMonth => Date.Month == MonthNumber ? ConstantsCSS.CurrentMonth : ConstantsCSS.OtherMonth;
	private string CSSFeastBorder => EventFeastHelper.GetCSSFeastBorder(Date);

	private string GetTitle(Enums.EventRecord item)
	{
		//return $"JCS: {item.JustifyContentSuffix}, CSSFeastBorder: {CSSFeastBorder}, Span: {item.Span}, Sorts: {item.Sort1}|{item.Sort2}";
		return string.Empty;
	}

	private void ShowModal()
	{
		//Console.WriteLine($"ShowModal called for {Date}");
		//DayModalRef?.Open();
	}
}