@using System.Linq
@using CalendarEnumDateType = RCL.Features.Calendar.Enums.DateType
@using RCL.Features.Calendar.Data
@using RCL.Features.Calendar.Enums

@inherits BaseEventsRepository

<div class="row">
	<div class="col-sm-6">
		<h5>Events</h5>
	</div>
	<div class="col-sm-6">
		<FilterButtons CurrentFilter="@CurrentFilter" OnFilterSelected="@ReturnedFilter" />
	</div>
</div>

<div class="row mt-2">
	<div class="col-12">

		<TableTemplate HeaderCSS="table table-sm table-warning table-hover"
									 Items="filteredData">
			<TableHeader>
				<th class="text-info">Date</th>
				<th class="text-info">Category</th>
				<th class="text-info">Justify Markup</th>
				<th class="text-info">Span Markup</th>
				<th class="text-info">Sort</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Date</td>
				<td>@context.Category.Value - @context.Category.Name</td>
				<td><code>@context.JustifyContentSuffix</code></td>
				<td><code>@context.Span</code></td>
				<td>@context.Sort1 | @context.Sort2 </td>
			</RowTemplate>
		</TableTemplate>

	</div>
</div>


@code {
	[Parameter, EditorRequired] public CalendarEnumDateType? CurrentFilter { get; set; } 
	[Parameter, EditorRequired] public EventCallback<CalendarEnumDateType> OnFilterSelected { get; set; }

	private List<Enums.EventRecord>? filteredData => 
	CurrentFilter != CalendarEnumDateType.All 
	? BaseData!.Where(w => w.Category == CurrentFilter).ToList() 
	: BaseData;
	
	private void ReturnedFilter(CalendarEnumDateType filter)
	{
		//Logger!.LogDebug("{Method} {Message}", nameof(ReturnedFilter), filter.Name);
		OnFilterSelected.InvokeAsync(filter);
	}
}
