
@using CalendarEnumDateType = RCL.Features.Calendar.Enums.DateType
@using RCL.Features.Calendar.Enums

@inject Data.IService? Service

@* 
@inject ILogger<RawDataTable>? Logger
@inject IToastService? Toast
*@

<FilterButtons CurrentFilter="@CurrentFilter" OnFilterSelected="@ReturnedFilter" />

@if (DateOnlyRange is not null)
{
	<p>Date Range @DateOnlyRange.Start.ToString("MMM, yyyy") - @DateOnlyRange.End.ToString("MMM, yyyy")</p>
}

<TableTemplate HeaderCSS="table table-sm table-warning table-hover"
							 Items="DtoCombinedList">
	<TableHeader>
		<th><br />Date</th>
		<th><br />#</th>
		<th>Has<br />Dupes</th>
		<th>Dupe<br />Count</th>
		<th><br />Type</th>
		<th><br />Description</th>

	</TableHeader>
	<RowTemplate>
		<td>@context.Date.ToString("MMM dd, yyyy")</td>
		<td>@context.RowNumber</td>
		<td>@context.HasDupes</td>
		<td>@context.DupeCount</td>
		<td>
			<span class="badge @context.DateType.BadgeColor text-dark fw-bold fs-6">@context.DateType.Name</span>
		</td>
		<td>@context.Description</td>
	</RowTemplate>
</TableTemplate>

@code {
	private CalendarEnumDateType? CurrentFilter { get; set; } = CalendarEnumDateType.All;

	private Data.DateOnlyRange? DateOnlyRange;
	private List<Data.DtoCombined>? DtoCombinedList { get; set; }

	protected override void OnInitialized()
	{
		Populate();
	}

	private void Populate()
	{
		DtoCombinedList = Service!.GetData();
		DateOnlyRange = Service!.GetDateRange();

		if (CurrentFilter != CalendarEnumDateType.All)
		{
			DtoCombinedList =  DtoCombinedList!.Where(w => w.DateType == CurrentFilter).ToList();
		}
	}

	private void ReturnedFilter(CalendarEnumDateType filter)
	{
		//Logger!.LogDebug("{Method} {Message}", nameof(ReturnedFilter), filter.Name);
		CurrentFilter = filter;
	}

}
