@using CalendarEnumDateType = RCL.Features.Calendar.Enums.DateType
@using RCL.Features.Calendar.Enums

@inject Data.IService? Service

@* 
@inject ILogger<RawDataTable>? Logger
@inject IToastService? Toast
*@

<FilterButtons CurrentFilter="@CurrentFilter" OnFilterSelected="@ReturnedFilter" />

@if (DateOnlyRange is not null)
{
	<p class="text-center"><b>Date Range</b> @DateOnlyRange.Start.ToString("MMM, yyyy") - @DateOnlyRange.End.ToString("MMM, yyyy")</p>
}
else
{
	<div class="alert alert-warning text-center" role="alert">
		<small>Date Range is null (◡︵◡)</small>
		@* //Emoji.Sad = @"(◡︵◡)"; *@
	</div>
}
	

@if (DayCellRecordList is null || !DayCellRecordList.Any())
{
	<p class="text-center text-muted">No data available for the selected filter.</p>
	return;
}
else
{
	<TableTemplate HeaderCSS="table table-sm table-warning table-hover"
								 Items="DayCellRecordList">
		<TableHeader>
			<th><br />Date</th>
			<th><br />CssClass</th>
			<th><br />IsErev</th>
			<th><br />Type</th>
			<th><br />Description</th>

		</TableHeader>
		<RowTemplate>
			<td>@context.Date.ToString("MMM dd, yyyy")</td>
			<td>@context.CssClass</td>
			<td>@context.IsErev</td>
			<td>
				<span class="badge @context.DateType.BadgeColor text-dark fw-bold fs-6">@context.DateType.Name</span>
			</td>
			<td>@context.Description</td>
		</RowTemplate>
	</TableTemplate>
}

@code {
	[Parameter, EditorRequired] public CalendarEnumDateType? CurrentFilter { get; set; } // = CalendarEnumDateType.All;
	[Parameter, EditorRequired] public EventCallback<CalendarEnumDateType> OnFilterSelected { get; set; }

	private Data.DateOnlyRange? DateOnlyRange;
	private List<Data.DayCellRecord>? DayCellRecordList { get; set; }

	protected override void OnParametersSet()
	{
		Populate();
	}

	private void Populate()
	{
		DayCellRecordList = Service!.GetAll();
		DateOnlyRange = Service!.GetDateRange2();

		if (CurrentFilter != CalendarEnumDateType.All)
		{
			DayCellRecordList = DayCellRecordList!.Where(w => w.DateType == CurrentFilter).ToList();
		}
	}

	private MarkupString? GetCalendarDayHtml(Enums.DateType dateType)
	{
		if (dateType == Enums.DateType.Feast)
		{
			return Enums.FeastDay.FromValue(dateType.Value).CalendarDayHtml;
		}
		else
		{
			return null;
		}
	}

	private void ReturnedFilter(CalendarEnumDateType filter)
	{
		//Logger!.LogDebug("{Method} {Message}", nameof(ReturnedFilter), filter.Name);
		OnFilterSelected.InvokeAsync(filter);
	}

    // Assuming you have a DateOnly value to pass as an argument.
    // Replace 'someDate' with the appropriate DateOnly value.

    // protected override void OnInitialized()
    // {
    //     DayCellRecordList = Service!.GetByDate(someDate);
    // }
}
