@using LivingMessiah.Helpers
@using LunarMonthEnum = RCL.Features.Calendar.Enums.LunarMonth
@using RCL.Features.Calendar.Enums

@inject ILogger<DailyWrapper>? Logger

<div class="@MediaQuery.Xs.DivClass">
	<ShabbatMeter />

	@if (!String.IsNullOrEmpty(ImageFile))
	{
		<div class="d-flex justify-content-center">
			<LunarMoonCard LunarMonth="LunarMonth" ImageFile="@ImageFile" DaysToGoText="@DaysToGoText" />
		</div>
	}
</div>

<div class="@MediaQuery.Sm.DivClass">
	<div class="d-flex justify-content-evenly">
		<ShabbatMeter />
		@if (!String.IsNullOrEmpty(ImageFile))
		{
			<LunarMoonCard LunarMonth="LunarMonth" ImageFile="@ImageFile" DaysToGoText="@DaysToGoText" MaxWidth="max-width: 250px;" />
		}

	</div>
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<div class="d-flex justify-content-evenly">
		<ShabbatMeter />
		@if (!String.IsNullOrEmpty(ImageFile))
		{
			<LunarMoonCard LunarMonth="LunarMonth" ImageFile="@ImageFile" DaysToGoText="@DaysToGoText" />
		}

	</div>
</div>

@code {
	LunarMonthEnum? LunarMonth = null;
	int DaysToGo = 0;
	int DaysOld = 0;
	private string ImageFile = string.Empty;
	string DaysToGoText = string.Empty;
	private string DaysOldMessage = string.Empty;

	protected override void OnInitialized()
	{
		DateOnly dateAzUTC = DateUtil.GetDateTimeWithoutTime(DateTime.Now.AddDays(0).AddHours(Utc.ArizonaUtcMinus7));

		Logger!.LogDebug("{Method}, {Message}", nameof(OnInitialized), $"dateAzUTC: {dateAzUTC}");

		LunarMonth = LunarMonthEnum.List
			.Where(w => w.Date >= dateAzUTC)
			.OrderBy(o => o.Date)
			.FirstOrDefault();

		if (LunarMonth is not null)
		{
			DaysToGo = LunarMonth.Date.DayNumber - dateAzUTC.DayNumber;

			int lmDateDN = LunarMonth.Date.DayNumber;
			int azUtcDN = dateAzUTC.DayNumber;

			DaysOld = lmDateDN - azUtcDN - 30; // 28

			if (DaysOld < 0)
			{
				DaysOld = 1;
			}	

			if (DaysOld == 0)
			{
				DaysToGoText = "New Moon";
				ImageFile = "/images/moons/01.jpg";
			}
			else
			{
				DaysToGoText = $"{DaysToGo} days";
			}

			if (DaysOld >= 0 && DaysOld <= 30)
			{
				var fileName = FormatDaysOld(DaysOld) + ".jpg";
				ImageFile = $"/images/moons/{fileName}";
			}

			Logger!.LogDebug("{Method}, {Message}, {DayCalc}", nameof(OnInitialized)
				, $"Lunar Month: {LunarMonth!.Name} {LunarMonth!.Date.ToShortDateString()}"
				, $"ToGo: {DaysToGo}, Old: {DaysOld}");

		}
	}

	private static string FormatDaysOld(int days)
	{
		return Math.Abs(days).ToString("D2");
	}
}
