@using FeastEnums = LivingMessiah.Features.Feasts.Enums
@using FeastDayType = LivingMessiah.Features.Calendar.Enums.FeastDay
@using NavEnums = LivingMessiah.Enums.Nav
@using LivingMessiah.Features.FeastDayPlanner
@using LivingMessiah.Features.FeastDayPlanner.Data

@inject NavigationManager NavigationManager
@inject IService? Service

@if (FeastList is not null && FeastList.Count() != 0)
{
	<div class="container text-center">
		@if (IsXs)
		{
			<h3 class="bg-warning text-black mt-5 mb-2 p-2 mx-3"><b>Up Coming Events</b></h3>
		}
		else
		{
			<div class="row mt-4">
				<div class="col-2"></div>
				<div class="col-8">
					<h2 class="bg-warning text-center text-black p-2"><b>Up Coming Events</b></h2>
				</div>
				<div class="col-2"></div>
			</div>
		}
	</div>

	@* <h2 class="bg-warning text-center text-white mt-5 mb-2 p-2 mx-5"><b>Up Coming Events</b></h2> *@

	@foreach (var item in FeastList)
	{
		<div class="d-flex justify-content-center">

			<div class="card border  border-warning  border-4 mb-4">
				<div class="row g-0">
					<div class="col-5 text-center ">
						<img src="@item.Image" class="img-fluid rounded-start" alt="@item.Title">
					</div>
					<div class="col-7 bg-warning-subtle text-center">

						<div class="">
							<span class="text-center @FontSize text-primary">
								@* <i class="@item!.Icon fa-fw @IconSize text-dark" aria-hidden="true"></i> *@
								<b>@item.Title</b>
							</span>
						</div>

						<div class="">
							<span class="text-primary text-center @HebrewCSS">@item!.Hebrew.FloatRightHebrew </span>
						</div>

						<div class="">
							@if (item.FeastDay is not null)
							{
								<p class="@FontSize2 text-black-50">@GetDays(item.FeastDay) days away</p>
							}
						</div>
					</div>
				</div>
			</div> <!-- Comments-->
		</div>

	}
}

@code {
	[Parameter, EditorRequired] public List<FeastEnums.Feast>? FeastList { get; set; }
	[Parameter, EditorRequired] public bool IsXs { get; set; }

	//protected string width => IsXs ? "" : "w-75 ";
	//protected string IconSize => IsXs ? " fa-2x" : " fa-3x";
	protected string FontSize => IsXs ? " fs-5" : " fs-2";
	protected string FontSize2 => IsXs ? " fs-6" : " fs-3";
	//protected string Padding => IsXs ? "  px-1" : "";
	protected string HebrewCSS => IsXs ? " hebrew" : "  hebrew44";

	// ToDo: Not used
	private void ButtonClicked(string index) //  Enums.Nav nav
	{
		NavigationManager!.NavigateTo(index);  //nav.Index
	}

	protected int GetDays(FeastDayType feastDayType)
	{
		HeaderServiceModel? vm = new();
		vm = Service!.GetHeaderServiceModel(feastDayType!);
		return vm.DaysDifferent;
	}
}
