@page "/"

@using SeasonEnum = LivingMessiah.Features.Calendar.Enums.Season
@using FeastEnums = LivingMessiah.Features.Feasts.Enums
@using LivingMessiah.Features.Home.WeeklyDownload
@using LivingMessiah.Features.Home.UpcomingFeasts

<PageTitle>Home</PageTitle>

@* <CurrentParashaTable /> *@

<HomeImage />

<div class="container">
	<div class="@MediaQuery.Xs.DivClass">
		<WelcomeCard />
	</div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10"><WelcomeCard /></div>
			<div class="col-1"></div>
		</div>
	</div>
</div>

<div class="container">
	<div class="@MediaQuery.Xs.DivClass">
		<LyricsLiturgyTeachingCard/>
	</div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<LyricsLiturgyTeachingCard/>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>

<DailyWrapper />

@if (FeastList is not null && FeastList.Count() != 0)
{
	<div class="@MediaQuery.Xs.DivClass"><FeastCards FeastList="FeastList" IsXs="true" /></div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass"><FeastCards FeastList="FeastList" IsXs="false" /></div>
}

<div class="card card border-0 ">
	<div class="@MediaQuery.Xs.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xs" /></div>
	<div class="@MediaQuery.Sm.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Sm" /></div>
	<div class="@MediaQuery.Md.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Md" /></div>
	<div class="@MediaQuery.Lg.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Lg" /></div>
	<div class="@MediaQuery.Xl.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xl" /></div>
</div>

<div class="@MediaQuery.XsOrSm.DivClass"><SocialMediaButtons IsXsOrSm=true /></div>
<div class="@MediaQuery.MdOrLgOrXl.DivClass"><SocialMediaButtons IsXsOrSm=false /></div>

@code {


	List<FeastEnums.Feast>? FeastList = null;

	protected override void OnInitialized()
	{
		//.Where(w => w.Value != FeastEnums.Feast.Shabbat)
		FeastList = FeastEnums.Feast.List.ToList()
		.Where(w => w.Season == SeasonEnum.Fall)
		.OrderBy(o => o.Value).ToList();
	}
}





