@using LunarMonthEnum = LivingMessiah.Features.Calendar.Enums.LunarMonth
@using LivingMessiah.Helpers

<div class="@MediaQuery.Xs.DivClass">
	<ShabbatMeter IsXsOrSm=IsXsOrSm />
	<LunarMoonCard LunarMonth="LunarMonth" DaysToGo="DaysToGo" DaysOld="DaysOld" />
</div>

<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
	<div class="d-flex justify-content-evenly">
		<ShabbatMeter IsXsOrSm=IsXsOrSm />
		<LunarMoonCard LunarMonth="LunarMonth" DaysToGo="DaysToGo" DaysOld="DaysOld" />
	</div>
</div>

<Header Title=@GetCurrentTitle()
				Teaching="Pdf Download"
				PDF=@GetCurrentTeaching()
				IsXs=IsXsOrSm />

@* 
<div class="row">
	<div class="col-4"><Moon /></div>
	<div class="col-8"><ShabbatMeter IsXsOrSm=IsXsOrSm /></div>
</div>

 *@

<div class="card card border-0 ">

	<div class="@MediaQuery.Xs.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xs" /></div>
	<div class="@MediaQuery.Sm.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Sm" /></div>
	<div class="@MediaQuery.Md.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Md" /></div>
	<div class="@MediaQuery.Lg.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Lg" /></div>
	<div class="@MediaQuery.Xl.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xl" /></div>
</div>


<SocialMediaButtons IsXsOrSm=IsXsOrSm />


@code {
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }


	

	LunarMonthEnum? LunarMonth = null;
	int DaysToGo = 0;
	int DaysOld = 0;

	protected override void OnInitialized()
	{
		DateTime dateTimeWithoutTime = DateUtil.GetDateTimeWithoutTime(DateTime.Now.AddDays(0).AddHours(Utc.ArizonaUtcMinus7));

		LunarMonth = LunarMonthEnum.List
			.Where(w => w.Date >= dateTimeWithoutTime)
			.FirstOrDefault();
		if (LunarMonth != null)
		{
			DaysToGo = (LunarMonth.Date - dateTimeWithoutTime).Days;
			DaysOld = 30 - (LunarMonth.Date - dateTimeWithoutTime).Days;
		}

	}


	private string ShabbatDate = "2025 June 28";
	private string ParashaTitle = "Genesis 38";
	private string ParashaDate = "2025-06-28";
	private string ParashaFile = "Gen-38";

	private string GetCurrentTitle()
	{
		return $"{ShabbatDate} | {ParashaTitle}";
	}

	//https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2025-06-07-Gen-33-18-to-35-08.pdf
	private string GetCurrentTeaching()
	{
		return $"{Constants.TeachingBlobFolder}{ParashaDate}-{ParashaFile}.pdf";
	}

}
